body {
    background-color: white;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

#title {
    background-color: #ff4c68;
    color: white;
}

#title img {
    transform: rotate(20deg);
    position: absolute;
}

#title .container-fluid {
    padding: 3% 15%;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
}

.nav-item {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    padding-left: 2rem;
}

.navbar {
    padding: 0 0 4.5rem;
}

#features {
    background-color: white;
    padding: 7% 15%;
    text-align: center;
    position: relative;
    z-index: 1;
}

#features i {
    color: #ef8172;
    font-size: 5rem;
}

#features h3 {
    font-size: 1.5rem;
    text-decoration: solid;
    white-space: nowrap;
    margin: 1rem 0 1rem 0
}

#features i:hover {
    color: #ff4c68;
}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 1.5rem;
}

#press {
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 1.5rem;
}

.carousel-item {
    padding: 7% 15%;
}

.card {
    width: 15rem;
    height: 23rem;
    text-align: center;
    margin-top: 2.4rem;
    margin-left: auto;
    margin-right: auto;
}

.card button {
    height: 3rem;
    width: 10rem;
    margin-top: auto;
}

#pricing {
    text-align: center;
    padding: 7% 15%;
}
